/* -----------------------BOTTONE SUBMIT----------------------- */

.button input {
    color: black;
    background: #F2F2F7;
    padding: 18px 16px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
    transform 150ms ease;
    border: none;
    letter-spacing: 0.015em;
}

.button .submit input {
    width: 343px;
    background: #007AFF;
    font-size: 15px;
    font-weight: 500;
    padding: 15px;
    color: white;
}

.button .submit input:hover {
    color: white;
    background: black;
}

/* ----------------------- BOTTONE SELECT ----------------------- */

.button div.select {
    letter-spacing: 0.015em;
    background: white;
    padding: 16px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: background 250ms ease-in-out, 
    transform 150ms ease;
}

.button div.select:not(#small)  {
    width: 200px;
}

.button div.select:hover {
    background: #F2F2F7;
}

.button div.container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.button .container p {
    font-size: 17px;
    font-weight: 300;
}

/* ----------------------- BOTTONE SELECT HUG ----------------------- */

.button div#small.select  {
    display: inline-block;
}

/* ----------------------- BOTTONE CERCA ----------------------- */

.button .cerca input {
    color: white;
    background: #007AFF;
    padding: 8px 15px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.03em;
    display: inline-block;
}

.button .cerca input:hover {
    background: black;
}