div.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 150px;
    background: white;
    border-radius: 15px;
    border: 1px solid #F2F2F7;
    transition: background 250ms ease-in-out, 
    transform 150ms ease;
    cursor: pointer;
}

div.card:hover {
    background: #E5E5EA;
    border: 1px solid #D1D1D6;
}

.card div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    width: inherit;
}

.card .container div.text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    width: inherit;
}

.card .container .text_container h1 {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}

.card .container .text_container h1.reduct {
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .container .text_container p {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #8E8E93;
}

.card .container .text_container p#blue {
    color: #007AFF;;
}