div.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.day div.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.day div.container_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

.day .container_title h1 {
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
}