div.contentView {
    margin-top: 79px;
    gap: 50px;
}

div.contentView#orario {
    width: calc(100% - 291px);
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    padding-top: 50px;
}

div.contentView#grid {
    width: calc(100% - 291px - 50px);
    display: grid;
    grid-template-columns: repeat(6, 180px);
    padding-top: 50px;
    padding-left: 50px;
}

div.contentView#blank {
    width: calc(100% - 291px);
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    height: calc(100vh - 80px);
}

div.divider {
    width: 1px;
    height: 835px;
    background: #D9D9D9;
}

.contentView div.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 334px;
}

.contentView .message h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
}

.contentView .message p {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #8E8E93;
}

@media screen and (min-width: 1681px) {
    div.contentView#grid {
        grid-template-columns: repeat(6, 180px);
    }
  }

@media screen and (max-width: 1680px) {
    div.contentView#grid {
        grid-template-columns: repeat(5, 180px);
    }
  }

  @media screen and (max-width: 1440px) {
    div.contentView#grid {
        grid-template-columns: repeat(4, 180px);
    }
  }

  @media screen and (max-width: 1200px) {
    div.contentView#grid {
        grid-template-columns: repeat(3, 180px);
    }
  }

  @media screen and (max-width: 980px) {
    div.contentView#grid {
        grid-template-columns: repeat(2, 180px);
    }
  }

  @media screen and (max-width: 740px) {
    div.contentView#grid {
        grid-template-columns: repeat(1, 180px);
    }
  }