body {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

div#horizontal:not(.input) {
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: space-between;
}

div.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    width: 343px;
    padding: 80px 0px;
}

.form div.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    width: 430px;
}

.form div.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: inherit;
}

.form .inputs div.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.form .inputs div.input#vertical {
    width: inherit;
}

.form div.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px;
    width: inherit;
}

.form .label label {
    color: #8E8E93;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    width: inherit;
}

.form .choice label {
    font-weight: 400;
    font-size: 17px;
}

textarea {
appearance: none;
height: 89px;
width: 313px;
background: #F2F2F7;
color: #8E8E93;
font-size: 15px;
font-weight: 400;
border-radius: 10px;
padding-inline: 15px;
border: 2px solid white;
transition: border 250ms ease-in-out,
transform 150ms ease;
outline: none;
resize: none;
padding-top: 17px;
padding-bottom: 17px;
}

textarea:focus, textarea:hover {
border-color: #007AFF;
color: black;
}

select {
outline: none;
appearance: none;
border: none;
padding: 7px 15px;
background: #F2F2F7;
border: 2px solid white;
border-radius: 10px;
font-weight: 400;
font-size: 15px;
cursor: pointer;
color: #007AFF;
transition: border 250ms ease-in-out, 
transform 150ms ease;
height: 40px;
width: 346px;
}

select:hover {
    border-color: #007AFF;
}

.form .inputs input[type=text]:not(.submit), input[type=number]:not(.submit) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 15px;
    height: 22px;
    color: #8E8E93;
    background: #F2F2F7;
    border-radius: 10px;
    appearance: none;
    border: none;
    font-weight: 400;
    font-size: 15px;
    border: 2px solid white;
    transition: border 250ms ease-in-out, 
    transform 150ms ease;
}

.form .inputs .input#vertical input[type=text]:not(.submit), input[type=number]:not(.submit) {
    width: 313px;
}

.form .inputs .input#horizontal input[type=text]:not(.submit), input[type=number]:not(.submit) {
    width: 123px;
}

.form .inputs .input input:not(.submit):not([type=radio]):hover {
    border: 2px solid #007AFF;
    outline: none;
    color: black;
}

.form .inputs .input input:not(.submit):not([type=radio]):focus {
    border: 2px solid #007AFF;
    outline: none;
    color: black;
}

.form div.choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-top: 4px;
}

.form .choice input[type=radio]:hover, .form .choice label:hover {
    cursor: pointer;
}

.form .choice input[type=checkbox]:hover {
    cursor: pointer;
}

.form div.radio {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: inherit;
}

.form div.radio#vertical {
    flex-direction: column;
    gap: 10px;
}

.form p {
    font-weight: 400;
    font-size: 17px;
}

.form .radio input[type=radio] {
    appearance: none;
    border-radius: 100%;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 2px solid #007AFF;
    transition: background 100ms ease-in-out, 
    transform 100ms ease;
}

.form .radio input[type=checkbox] {
    appearance: none;
    border-radius: 4px;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 2px solid #007AFF;
    transition: background 100ms ease-in-out, 
    transform 100ms ease;
}

.form .radio input[type=radio]:checked {
    background: #007AFF;
}

.form .radio input[type=checkbox]:checked {
    background: #007AFF;
}

.form div.hinput {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: inherit;
}