.header div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.header {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 341px);
    padding: 13px 25px;
    border-bottom: 1px solid #E5E5EA;
    background: white;
}

.header .title_container h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.01em;
}

.header div.title_container {
    width: 84px;
    position: absolute;
    right: calc(50% + 145px - 42px);
    transition: background 250ms ease-in-out, 
    transform 150ms ease;
}

/* ----------------------- MEDIA QUERY ----------------------- */

@media screen and (max-width: 1785px) {
    .header div.title_container {
        display: none;
    }
}