div.searchbar {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    height: 40px;
}

.searchbar input {
    color: black;
    background: #F2F2F7;
    padding: 8px 15px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    text-align: left;
    transition: background 250ms ease-in-out, 
    transform 150ms ease;
    border: none;
    letter-spacing: 0.03em;
    outline: none;
    border: 2px solid white;
}

.searchbar input:focus {
    border: 2px solid #007AFF;
}

.searchbar input:hover:not(#cerca) {
    border: 2px solid #007AFF;
}

.searchbar #Anno {
    width: 105px;
}

.searchbar #Corso {
    width: 185px;
}

.searchbar #Laurea {
    width: 110px;
}