/* TITLE CONTAINER */

div.container-title-sideBar {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.container-title-sideBar h1.blue {
    color: #007AFF;
}

.container-title-sideBar h1 {
    font-size: 37px;
    font-weight: 700;
    letter-spacing: 0.005em;
}

/* TITLE & BUTTON CONTAINER */

div.container-button-title-sideBar {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    width: 240px;
}

div.sidebar {
    position: fixed;
    left: 0;
    width: 240px;
    height: 100%;
    padding: 85px 25px;
    border-right: 1px solid #E5E5EA;
    background: white;
}